* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom,rgb(153, 152, 152), white );
}

/* titulo */

.titulo {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
    padding: 10px 0;
}


/*navegacion*/

.navegacion {
    background-color: black;
    
}

.navegacion nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-decoration: none;

}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #04b4a6;
}

/*banner*/

.banner {
    max-width: 1200px;
    margin: 0 auto;
}

.banner-img {
    background-image: url(img/banner2.jpg);
    background-size: cover;
    height: 450px;
}



/*contenido principal*/

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

}

.tarjeta {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    margin: 25px 0;
    border-radius: 10px;
}

.tarjeta:hover {
    border: 2px solid #04b4a6;
    background-color: black;
}


.tarjeta img {
    margin: 10px;
    border-radius: 10px;
}

.tarjeta h4 {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tarjeta:hover {
    color: #04b4a6;
    transition: 0.3s;
}
.tarjeta p {
    font-size: 25px;
    font-weight: bold;
    color: gray;
    margin-bottom: 10px;
    text-decoration: line-through;

}

.tarjeta h3 {
    font-size: 25px;
    color: #04b4a6;
    margin-bottom: 10px;
}
